div.fact {
    border: 1px solid #ddd;
    background: #f0f0f0;
    width: 500px;
    padding: 5px;
    text-align: center;
}
.fact #fact {
    margin: 4px;
    font-size: large;
}
div.outer {
    margin-left: auto;
    margin-right: auto;
    width: 520px;
    text-align: right;
}
button#next {
    margin: 5px 8px 0 auto;
    border: 1px solid #ddd;
    background: #f0f0f0;
    font-size: medium;
}
p, span, button {
    font-family: Georgia, serif;
}
#tags {
    font-size: small;
    text-align: left;
    margin-bottom: 0;
    float: left;
}
#tags a {
    color: #888;
    text-decoration:underline;
}
#tell {
    font-size: small;
    text-align: right;
    float: right;
}
#morefact {
    margin-bottom:1px;
}
